.body {
    background-color: #c0ebc0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.search * {
    background: none;
    outline: none;
    box-sizing: border-box;
}

.search__wrapper {
    position: relative;
}

.search__field {
    width: 50px;
    height: 50px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 16px;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search__field:focus {
    border-bottom-color: #ccc;
    width: 15vw;
    color: #2b2b2b;
    cursor: default;
}

.search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
}

.search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9f1f4;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: 16px;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: 16px;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: 16px;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: 16px;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}  

.main-content .banner {
    background-color: #f4faf3;
    border-radius: 10px;
}

.banner-link {
    color: black;
}

.main-content .banner h1{
    font-family: 'Yeseva One', cursive;
    color: black;
}

.card-fitur .card{
    border: none;
    text-align: center;
    background-color: #f3faf3;
    border-radius: 10px;
    max-height: 350px;
    float: none; 
}

.card .list-group-item {
    text-align: center;
    background-color: #f3faf3;
    border-radius: 10px;
}

.card .list-group-item a {
    color: black;
}

h2 {
    text-align: left;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
}

.media-heading a {
    color: black;
    font-family: 'Yeseva One', cursive;
}

.media-date a {
    color: rgb(23, 100, 23);
}

.widget_article_social a {
    color: rgb(23, 100, 23);
}

.widget {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.widget .media {
    margin-top: 0;
    margin-bottom: 0;
}

.page-item a {
    color: rgb(23, 100, 23);
}

.footer-green {
    padding:50px 0;
    color:black;
    background-color: #d2e9ce;
}

.footer-green h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    font-family: 'Yeseva One', cursive;
}

.footer-green ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-green ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-green ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-green .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-green .item.text {
    margin-bottom:20px;
}

@media (max-width:767px) {
    .footer-green .item.text {
        margin-bottom:0;
    }
}

.footer-green .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-green .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-green .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-green .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.4);
    margin:0 8px;
    color:black;
    opacity:0.75;
}

.footer-green .item.social > a:hover {
    opacity:0.9;
}

.footer-green .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:14px;
    margin-bottom:0;
}

