.card {
    background-color: #f4faf3;
}

.dropdown {
    text-align: center;
}

.main-content .breadcrumb {
    background-color: #f4faf3;
}

.breadcrumb a {
    color: #3d8b4c;
    font-weight: bold;
    text-decoration: none !important;
    background-color: transparent
}